<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">IG Home</a>
	</li>
	<li>
		<a href="guidance.html">Guidance</a>
	</li>
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="howto.html">How to use this Publication</a>
			</li>
			<li>
				<a href="standardsstatus.html">Standards Status</a>
			</li>
			<li>
				<a href="privacy.html">Privacy considerations</a>
			</li>
			<li>
				<a href="security.html">Security considerations</a>
			</li>
			<li>
				<a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec<img src="external.png" style="text-align: baseline"/>
				</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Functional Description<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="usecases.html">Use Cases</a>
			</li>
			<li>
				<a href="logical-models.html">Logical Models</a>
			</li>
<!--
			<li>
				<a target="_blank" href="#">Services &amp; Transactions</a>
			</li>
-->
		</ul>

	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Detailed Specifications<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="artifacts.html">Artifact Index</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Terminology<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="terminology.html">Terminology Resources</a>
			</li>
		</ul>
	</li>
<!--
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Project-specific
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#">Core Profiles</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">DZOP</a>
			</li>
            <li>
				<a href="#">EFRO</a>
			</li>
		</ul>
	</li>
-->
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementation<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="testdata.html">Test Data<img src="external.png" style="text-align: baseline"/></a></li>
			<li><a target="_blank" href="openapi.html">OpenAPI</a></li>
			<li><a href="testservers.html">Test Servers<img src="external.png" style="text-align: baseline"/></a></li>
			<li><a href="downloads.html">Downloads</a></li>
		</ul>
	</li>
</ul>      