
        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

{% if includetabscripts %}
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
  <script type="text/javascript">
    try {
      var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
    } catch(exception) {
    }

    if (!currentTabIndex)
      currentTabIndex = '0';

    $( '#tabs' ).tabs({
      active: currentTabIndex,
      activate: function( event, ui ) {
        var active = $('.selector').tabs('option', 'active');
        currentTabIndex = ui.newTab.index();
        document.activeElement.blur();
        try {
          sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
        } catch(exception) {
        }
      }
    });
  </script>
{% endif %}
  <div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
    <div class="container">  <!-- container -->
      <div class="inner-wrapper">
        <p>
          IG &#169; {{site.data.info.copyrightyear}} <a style="color: #81BEF7" href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher}}</a>.  Package {{site.data.fhir.packageId}}#{{site.data.fhir.igVer}} based on <a style="color: #81BEF7" href="{{site.data.fhir.path}}">FHIR {{site.data.fhir.version}}</a>. Generated <span title="{{site.data.fhir.genDate}}">{{site.data.fhir.genDate | date: "%Y-%m-%d"}}</span>
          <br/>
          <span style="color: #FFFF77">
            {% include fragment-footer.html %}
          </span>
        </p>
      </div>  <!-- /inner-wrapper -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-footer -->
  
  <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
    <div class="container">  <!-- container -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-post-footer -->
  
  <!-- JS and analytics only. -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/bootstrap.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/respond.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
  <script>anchors.options.visible = 'hover'
anchors.add()</script>



{% if site.data.features.feedback.active %}
<script>
  $(':header[id]').each(function() {
    var id = $(this).attr('id');
    var feedbackurl = '{{site.data.features.feedback.formUrl}}';
    {% if site.data.features.feedback.parameters %}
    {% for parm in site.data.features.feedback.parameters %}
    feedbackurl = feedbackurl + '&';
    feedbackurl = feedbackurl + {{ parm.name }} + '=' + {{ parm.value }}
    {% endfor %}

    {% endif %};

    if (id) { //To make sure the element has an id
      $(this).append('       ');
      $(this).append(function () {
        return $('<a/>', {
          id,
          href: feedbackurl,
          text: 'Feedback ',
          class: 'feedback',
          target: '_blank',
  
          onclick: 'window.open('+feedbackurl+',\'newwindow\',\'width=300,height=250\');return false;'
  
  
        });
      });
    }
  })

  </script>  
{% endif %}


<!-- Analytics Below
  ================================================== -->
  </body>
</html>
